/*

	tech.css - A technical document CSS sample file

	Author : Osvaldo Santana Neto <osantanabr (a) brturbo com>
	Date   : June 2004
	License: GPL

	Updated: Zhiqiang Lin < zlin (a) cs purdue edu
	Date   : August 2012

	Part of the txt2tags project <http://txt2tags.sf.net>

*/

div.header h1 {
	text-align: left;
	font-family: Sans-Serif;
	font-size: 18pt;
}

div.header h2 {
	text-align: left;
	font-family: Sans-Serif;
	font-size: 14pt;
}

div.header h3 {
	text-align: left;
	font-family: Sans-Serif;
	font-size: 12pt;
}

img {
    padding:            3px;
/*   border:             2px dashed #333; */
    background-color:   #fff;
    color:              #000;
    height:             14em;
    float:              right;
    margin-left:        1em;
}

div.toc {
	margin-top: 24pt;
	border: 1px solid black;
	margin-bottom: 30px; 
	padding: 24px; 
	background-color: white ;

	-moz-border-radius: 15px;
	border-radius: 15px;

	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;

}

div.toc a {
	font-family: Sans-Serif;
	font-size: 10pt;
	color: black;
	text-decoration: none;
}

div.toc a:hover {
	text-decoration: underline;
}


div.body {
	margin-bottom: 30px; 
	padding: 30px; 
	background-color: white ;

	-moz-border-radius: 15px;
	border-radius: 15px;

	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;

}	

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
	text-align: left;
	font-family: Sans-Serif;
}

div.body h1 {
	font-size: 18pt;
}

div.body h2 {
	font-size: 16pt;
}

div.body h3 {
	font-size: 14pt;
}

div.body h4 {
	font-size: 12pt;
}

div.body h5 {
	font-size: 10pt;
	font-weight: bold;
}

div.body h6 {
	font-size: 10pt;
}

div.body a {
/*	font-family: monospace;*/
	font-size: 10pt;
	text-decoration: underline;
/*	color: blue; */
	color: black;
}
div.body a:hover {
	text-decoration: underline;
}
div.body blockquote {
	background: #eee;
	padding: 18pt;
}
div.body blockquote p {
	margin-top: 2pt;
	margin-bottom: 2pt;
}

div.body pre {
/*	background: #eee;*/
	padding: 18pt;
	border: 1px dashed black;
}

div.body dt {
	background: #eee;
	padding: 3pt;
	border: 1px solid black;
	font-family: Sans-Serif;
	font-size: 10pt;
	margin-top: 18pt;
	margin-bottom: 8pt;
}


table {
    padding:            2px;
    border-style:       solid;
    border-color:       #000;
    border-collapse:    collapse;
    width:              100%;
}

td {
    border:             1px solid #000;
    text-align:         left;
    font-size: 10pt;
}

th {
    border:             1px solid #000;
    background-color:   #ccc;
    color:              #000;
    text-align:         left;
}

hr {
    height:             1px;
    border:             0px none #000;
    border-top:         1px solid #000;
    clear:              both;
}


body {
    font-family: Sans-Serif;
/*    font-family: Palatino, Georgia ; */
    font-size: 10pt;
    background-color: #cccccc ;
    width: 800px ;
    margin-left: auto ;
    margin-right: auto ;
}
